img {
    height: auto;
    max-width: 100%;
}
img.expanded {
    max-width: none;
}
ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
ul {
    list-style:none;
    margin-bottom:25px;           
}
ul li img {
    cursor: pointer;
}
