<!-- Content of the central part of the page, the navigation bar and left menu are called in the index.html-->
<div id="big-form" class="well auth-box">
    <form>
        <fieldset>
            
            <!-- Form Name -->
            <legend>Select data</legend>
            
            <!-- Dates selection -->
            <div class="row">
                <div class="col-xs-2">
                    <label class=" control-label" for="textinput">From</label> 
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" show-button-bar="false" name="from" ng-model="formData_from" is-open="datepickers.from" min-date="minDate_from" max-date="maxDate_from" datepicker-options="dateOptions" ng-required="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event,'from')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <label class=" control-label" for="textinput">To</label> 
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" show-button-bar="false" name="to" ng-model="formData_to" is-open="datepickers.to" min-date="minDate_to" max-date="maxDate_to" datepicker-options="dateOptions" ng-required="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event,'to')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <br>
            
            <!-- Site selection -->
            <div class="form-group">
                <label class="control-label" for="checkboxes">Sites</label>
                <div ng-repeat="site in sites">
                    <input type="checkbox" name="selectedSites[]" value="{{site.label}}" ng-model="site.selected"> {{site.label}}
                </div>
            </div>
            
            <label class="control-label" for="checkboxes">Measurements</label>    
            <!-- Plots selection -->
            <div class="row">
                <div class="col-xs-4">
                    <!--<accordion close-others="oneAtATime">
                        <accordion-group heading="{{item.type}}" ng-repeat="item in typeMeas">-->
                            <!-- Multiple Checkboxes -->
                            <div class="form-group" ng-repeat="item in typeMeas">
                                <input type="checkbox" name="selectedPlot[]" value="{{item.label}}" ng-model="item.selected"> {{item.label}}
                            </div>
                        <!--</accordion-group>
                    </accordion>-->
                </div>
                <div class="col-xs-offset-8"></div> 
            </div>

            formData_to = {{formData_to}} <br>
            selectionS = {{selectionS}} <br>
            selectionP = {{selectionP}} <br>
            plotItems = {{plotItems}} <br>
            plotItems.length = {{plotItems.length}} <br>
            showPlots = {{showPlots}}<br>
            <br>
                
            <!-- plot button -->
            <button type="button" class="btn btn-default" id="plotBtn" ng-click="plotFunct()" disabled>
                Show plots
            </button>

            <!-- Show plots -->
            <div ng-switch="showPlots">
                <div ng-switch-when=true>
                    <div ng-repeat="iplot in plotItems">
                        <br>
                        <label>{{iplot.label}}</label>
                        <!-- debug elements -->
                        <br>chosenStation = {{iplot.chosenStation}}<br>
                        chosenChannel = {{iplot.chosenChannel}}<br>
                        chosenStatistic = {{iplot.chosenStatistic}}<br>
                        formData_to = {{iplot.formData_to}}<br>
                        <!-- *************** -->
                        <div ng-controller="ParametricplotCtrl">
                        <div ng-include src="'components/parametricPlot/parametricPlot.html'" onload="loadPlot('free',iplot.chosenStation,iplot.chosenChannel,iplot.chosenStatistic,iplot.formData_to)"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </fieldset>
    </form>
</div>


    