<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Welcome to the WESS project</h1>
  <p class="lead">
    The WESS project is about collecting and offering data measurements from the WESS measurement stations. </p>
  <p class="lead" ng-show="count">
    We currently have {{count}} measurement records and are trying to provide you access to and visualistion of all this data.
  </p>
  <p class="lead" ng-hide="count">
    We are currently experiencing problems and can not serve you our data. Be sure to check back later.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/aboutus">Tell me more!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the WESS team</p>
</div>
