<nav class="navbar navbar-static">
    <div class="container">
        <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <div class="nav-collapse collase">
            <ul class="nav navbar-nav" ng-controller="NavbarCtrl">  
                <li ng-repeat="item in menu">
                    <a ng-href="{{item.link}}">{{item.title}}</a>
                </li>
            </ul>
        <!--<ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
     				<button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
              </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">Login</a></li>
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">About</a></li>
             </ul>
          </li>  
        </ul>-->
      </div>		
    </div>
</nav><!-- /.navbar -->

<header class="masthead">
    <div class="container"> 
        <div class="row">
            <div class="col col-sm-4">
                <h1><a>The Ammertal Network</a>
                <p class="lead">A surface measurement network in the Ammer valley</p></h1>
            </div>
            <div class="col col-sm-4">
                <div class="well"><p class=lead>Our data are now available! For more info <a href="../user_data"> click here</a></p></div>
            </div>
            <div class="col col-sm-4">
                <div class="well pull-right">
                    <img src="../../assets/images/image8.JPG" width="220">
                </div>
            </div>
        </div>
    </div>
    
    <!--<div class="container">
        <div class="row">
            <div class="col col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        News: we are working to make the service better
                        <!--<a href="http://www.wess.info/typo3/index.php?id=5"><img height="40" src="../../assets/images/WESS_banner_white.png"></a>
                        <a href="http://www.geo.uni-tuebingen.de/arbeitsgruppen/angewandte-geowissenschaften/forschungsbereich/umweltphysik/arbeitsgruppe.html"><img height="45" src="../../assets/images/umphy_logo_green.png"></a>-->
           <!--         </div>
                </div>
            </div>
        </div>
  </div>-->
</header>














