<div class="col-xs-3">
    <div class="leftmenu-wrapper" ng-controller="LeftmenuuserCtrl">
        <ul class="nav nav-pills leftMenu-nav-pills nav-stacked">
            <!-- Title for the left menu -->
            <li class="title" ng-controller="NavbarCtrl">
                {{addTitleToLeftMenu()}}
            </li>
            <li ng-repeat="item in leftmenu" class="disabled"><!--ng-class="{active:isActive(item.link)}"-->
                <a ng-href="{{item.link}}">{{item.title}}</a> 
            </li>
        </ul>
    </div>
</div>