<div class="col-xs-3">
    <div class="leftmenu-wrapper" ng-controller="LeftmenuuserCtrl">
        <ul class="nav nav-pills leftMenu-nav-pills nav-stacked">
            <!-- Title for the left menu -->
            <div ng-controller="NavbarCtrl">
                <li class="title">
                    {{addTitleToLeftMenu()}}
                </li>
            </div>
            <li ng-repeat="item in leftmenu" ng-class="{active:isActive(item.link)}">
                <a ng-href="{{item.link}}">{{item.title}}</a> 
            </li>
        </ul>
    </div>
</div>