.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Custom navbar */

a,
a:focus,
a:hover {
  color: #A51E37;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Styles imported from Fra's project */

.navbar-wrapper {
  background: #A51E37;
  padding: 4px;
  font-size: 18px;
  text-align: center;
}

.leftmenu-wrapper {
  background: #825D2D;
  padding: 1px; 
    border-radius: 5px;
    text-align: left; 
}


/* a:hover MUST come after a:link and a:visited 
   a:active MUST come after a:hover */
ul.nav.nav-pills a:link, ul.nav.nav-pills a:visited {
  color: black;
  background-color: white;
  display: inline-block;
 /* width and margin should be changed together */
  width: 149px;
  margin: 1px;
}

ul.nav.nav-pills a:hover {
  color: white;
  background-color: #A51E37;
  text-decoration: none;
}

/* active doesn't work, why? 
* Because ul.nav.nav-pills a:active is wrong.
* We are not using the state but the active class and not on the anchor but on the list-item containing the anchor.
* Changing the selector to ul.nav.nav-pills > li.active > a does the trick.
*/
ul.nav.nav-pills > li.active > a {
  color: white;
  background-color: #A51E37;
  text-decoration: none;
}

/* to center the navigation bar buttons */
.mainMenu-nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.mainMenu-nav-pills {
    text-align:center;
}

/* specific for the left menu */
ul.nav.leftMenu-nav-pills a:hover {
  color: white;
  background-color: #825D2D;
  text-decoration: none;
}

/* active doesn't work, why? */
ul.nav.leftMenu-nav-pills a:active {
  color: white;
  background-color: #825D2D;
  text-decoration: none;
}
