<div class="col-xs-3">
    <!--<div class="leftcontainer" ng-controller="LeftmenuCtrl">
        <div class="row">
            <div class="span2">-->
    <div class="leftmenu-wrapper" ng-controller="LeftmenuweatherCtrl">
                <ul class="nav nav-pills leftMenu-nav-pills nav-stacked">
                    <li ng-repeat="item in leftmenuweather" ng-class="{active:isActive(item.link)}">
                        <a ng-href="{{item.link}}">{{item.title}}</a> 
                    </li>
                </ul>
    </div>
</div>