<button class="btn pull-right" ng-click="close()"> 
    <span class= "glyphicon glyphicon-remove" aria-hidden = "true"></span>
</button>
<img class="img-thumbnail" ng-src = {{pictures[picIdx].img}}> <!--{{mainImageUrl}}-->
<button class="btn btn-default" ng-click="prev()">
    <span class= "glyphicon glyphicon-chevron-left" aria-hidden = "true"></span>
</button>
<button class="btn pull-right" ng-click="next()">
    <span class = "glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</button>
